@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-primary: linear-gradient(
    135deg,
    rgba(254, 242, 0, 1) 0%,
    rgba(16, 93, 72, 1) 70%
  );
}

@layer utilities {
  .bg-button-admin {
    background: var(--gradient-primary);
  }
}

@theme {
  --color-yellow0: #D1AE00;
  --color-yellow1: #FBD100;
  --color-yellow2: #FEF200;
  --color-green0: #0A3D30;
  --color-green1: #105D48;
  --color-green2: #299C00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans), "SF Pro Display", "SF Pro", Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
